.so-widget-sow-icon-default-0927278a8be0 .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-0927278a8be0 .sow-icon span,
.so-widget-sow-icon-default-0927278a8be0 .sow-icon a span {
  display: inline-block;
  color: #8224e3 !important;
  font-size: 80px !important;
}