.so-widget-sow-google-map-default-b88d8afbca7f-186 .sow-google-map-canvas {
  height: 600px;
}
.so-widget-sow-google-map-default-b88d8afbca7f-186 .sow-google-map-canvas img {
  border-radius: 0;
  box-shadow: none;
  line-height: normal;
  max-width: none;
  zoom: normal;
}